/* Styling for the page is done here. Still needs work with flexing for all of the 
styled elements*/

body{
    background-image: url('../images/bookshelf.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: antiquewhite;
}

.memberForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.memberTable {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}